.image-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    
}

.top-card {
    grid-area: "b";
}

.ratings-card {
    grid-area: "c"
}

.amenities-card {
    grid-area: 'e';
}

.details-container {
    padding: 5px;
    display: grid;
    width: 100%;

}