.card-main:hover{
  box-shadow: 0 10px 20px 0px rgba(0,0,0,0.2);
}
.card-main {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.results-container {
  min-height: 1080px;
  width: auto;
  align-items: center;
}
.title{
  color: black;
  font-weight: 500;
  font-size: 1.2em;
}
